**/.venv/
.env*
env*
*.csv
__pycache__/
*.pyc
*.pyo
*.pyd
data/
**/node_modules/

# Credentials
client_secret_53950461716-r53s726794a275t00jgouimdpbch094k.apps.googleusercontent.com.json
Backup-codes-*.txt
