.card{
 position:relative;
 border:1px solid #ccc;
 border-radius: 5px;
 padding:10px;
 width:250px;
 aspect-ratio: 1 / 1;
 display:flex;
 flex-direction:column;
 cursor:pointer;
 transition:transform 0.2s ease, box-shadow 0.2s ease;
 overflow: hidden;
 box-shadow:0 4px 10px rgba(0,0,0,0.5);
}

.card h3 {
  font-size: 16px;
  display: -webkit-box !important;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  height: 2.6em;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.3;
  max-height: calc(1.3em * 2);
  min-height: 2.6em;
  margin: 8px 0 4px;
  word-break: break-word;
}

.card p {
  font-size: 14px;
  color: #666;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height:1.5em;
  margin:0;
}

.card:hover{
  transform:translateY(-8px) scale(1.02);
  box-shadow:0 8px 10px rgba(0,0,0,0.15)
}

.thumbnail {
  width: 100%;
  aspect-ratio: 16 / 9; 
  object-fit: cover;
  border-radius: 5px;
  display:block;
  pointer-events: none;
  flex-shrink:0;
}

.card:hover .menuButton {
  opacity: 1;
}

.title{
 font-size: 16px;
 font-weight: bold;
}

.author{
 font-size: 12px !important;
 color: #666;
 margin-top: 4px;
 width: 100%;
 overflow: hidden;
 white-space: nowrap;
 text-overflow: ellipsis;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.titleMain {
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  color: #00bfa6;
  margin-bottom: 40px;
  letter-spacing: 2px;
  color: #39bdf8;
}

