@import "tailwindcss";
@plugin "daisyui" {
  themes: autumn --default;
}

@theme {
  --color-mint: #2dd4bf;
  --color-skyblue: #38bdf8;
  --color-cherry: #fb7185;
}

body {
  font-family: var(--font-noto-sans-jp), sans-serif;
  background-color: var(--color-base-100);
}
